@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';
@import 'primeicons/primeicons.css';

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

:root {
  --surface-a: #2a323d;
  --surface-b: #20262e;
  --surface-c: rgba(255, 255, 255, 0.04);
  --surface-d: #3f4b5b;
  --surface-e: #2a323d;
  --surface-f: #2a323d;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --primary-color: #c298d8;
  --primary-color-text: #151515;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#root {
  height: 80vh;
}